* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#title {
  margin-left: 10px;
}

.color{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
}
#cor1 {
  background-color: black;
  margin-left: 20px;
}

#cor2 {
  background-color: yellow;
}

#cor3 {
  background-color: red;
}

#cor4 {
  background-color: blue;
}

#pixel-board {
  background-color: white;
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin-top: 5px;
}

/*.pixel:active {
  background-color: blue;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin-top: 5px;
} */

#coluna1 {
  display: inline-block;
}

#coluna2 {
  display: inline-block;
}

#coluna3 {
  display: inline-block;
}

#coluna4 {
  display: inline-block;
}

#coluna5 {
  display: inline-block;
}