* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#title {
  margin-left: 15px;
}

.color {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
}

#cor1 {
  background-color: black;
  margin-left: 35px;
}

#cor2 {
  background-color: yellow;
}

#cor3 {
  background-color: red;
}

#cor4 {
  background-color: blue;
}

#pixel-board {
  background-color: white;
  width: 250px;
  height: 250px;
  margin-left: 5px;
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin-top: 5px;
  display: inline-block;
}

/*.pixel:active {
  background-color: blue;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin-top: 5px;
} 
 */

#clear-board {
  border: 1px solid red;
  background-color: brown;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 87px;
  padding: 5px;
}